#web_bg {
  /* ����ͼ��ĵ�ַ��url�����  */
  background: url(https://i.loli.net/2020/06/08/IF48mW63PiT7Mj2.jpg);
  /* ����ͼ���ظ� */
  background-repeat: no-repeat;
  /* ����ͼ���С */
  background-size: cover;
}

/* ���б�����������ҳ��Ƭ������ҳ��ҳ��ҳ�ȣ� */
#aside_content .card-widget, #recent-posts>.recent-post-item, .layout_page>div:first-child:not(.recent-posts), .layout_post>#page, .layout_post>#post, .read-mode .layout_post>#post{
    /* ���´�����ɫ͸����Ϊ0.3 */
    background: rgba(255,255,255,.8);
}